@charset "utf-8";
/* CSS Document */
#wrap{
	background:#698A3E; 
	width:30em;
	margin:0 auto;/*holalalal*/
	padding:2em; 
	
	}
#wrap div{
	max-width:10em;
	background-color:rgba(131,127,30,0.7);
	box-shadow:#333  5px 5px 5px 5px;
	margin:1em; 
	display:block;
	max-height:10em;
	}
#wrap div.primero img{
	width:100%;	
	}

